@page
@model VanHorn_NET_Final.Pages.Options.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Option</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        question Id: @Model.Option.QuestionId
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Option.QuestionId" />
            <input type="hidden" asp-for="Option.OptionId" />
            <div class="form-group">
                <label asp-for="Option.OptionText" class="control-label"></label>
                <input asp-for="Option.OptionText" class="form-control" />
                <span asp-validation-for="Option.OptionText" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Option.Correct" /> @Html.DisplayNameFor(model => model.Option.Correct)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Quizzes/Details" asp-route-id="@Model.QId">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
