@page
@model VanHorn_NET_Final.Pages.Questions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Question</h1>

<hr />
<form method="post">
    <div class="form-group">
        <label for="questionText">Question Text</label>
        <input type="text" class="form-control" id="questionText" asp-for="Question.QuestionText">
    </div>

    <h4>Options</h4>
    <div id="optionsContainer"></div>

    <button type="button" class="btn btn-primary" id="addOptionBtn">Add Option</button>

    <button type="submit" class="btn btn-success">Create Question</button>
</form>

<div>
    <a asp-page="/Quizzes/Index">Back to Quizzes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        var optionIndex = 0;

        $("#addOptionBtn").click(function () {
            var optionHtml = `
                <div class="form-group">
                    <label for="Options_${optionIndex}__OptionText">Option ${optionIndex + 1}</label>
                    <input type="text" class="form-control" id="Options_${optionIndex}__OptionText" name="Options[${optionIndex}].OptionText">
                </div>
            `;
            $("#optionsContainer").append(optionHtml);
            optionIndex++;
        });
    </script>
}