@page
@model VanHorn_NET_Final.Pages.Questions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Question</h1>

<hr />
<form method="post">
    <div class="form-group">
        <label for="questionText">Question Text</label>
        <input type="text" class="form-control" id="questionText" asp-for="Question.QuestionText">
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-page="/Quizzes/Index">Back to Quizzes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}